---
layout: base
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
  <header class="post-header">
    <h1 itemprop="name headline">{{ page.title | escape }}</h1>
    <p class="meta">
      <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%B %-d, %Y" }}</time>
      {%- if page.author %}, <span itemprop="author">{{ page.author }}</span>{% endif %}
    </p>
  </header>

  {%- if page.glance %}
  <aside class="glance" aria-labelledby="glance-title">
    <h2 id="glance-title">At a glance</h2>
    <dl>
      {%- for g in page.glance %}
      <dt>{{ g.label }}</dt>
      <dd>{% if g.url %}<a href="{{ g.url }}">{{ g.text }}</a>{% else %}{{ g.text }}{% endif %}</dd>
      {%- endfor %}
    </dl>
  </aside>
  {%- endif %}

  <div class="post-content" itemprop="articleBody">
    {{ content }}
  </div>

  {% include sharelinks.html %}
  {% include navlinks.html %}
</article>
